<div style="width: 40%; margin: 50px;">
    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text"
               nz-input
               (keyup)="search()"
               [(ngModel)]="searchValue"
               placeholder="Şirket ara" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon
           nzType="search"
           nzTheme="outline"></i>
    </ng-template>
</div>
<div class="companies">
    <div *ngFor="let company of companies | filterCompanies: searchValue"
         class="company">
        <a [routerLink]="'/company/'+company.companyId">
            <internhub-company-card [name]="company.name"
                                    [city]="company.city"
                                    [logoUrl]="company.logoUrl"></internhub-company-card>
        </a>
    </div>
</div>