<img class="wave"
     src="../../../assets/wave.png">
<div class="hero">
    <div class="hero-content">
        <div>
            <h1>Internhub'a Hoşgeldin</h1>
            <p>
                Internhub stajyerlerin staj yaptıkları iş yerlerini değerlendirdikleri bir oluşumdur.
                Eğer sende üniversite öğrencisiysen ve staj yaptığın yeri değerlendirmek istiyorsan, hemen şimdi kayıt
                ol ve stajını değerlendirmeye başla.
            </p>
            <div style="display: flex;">
                <div class="btn">
                    <a style="text-decoration: none; "
                       routerLink="/auth">
                        <internhub-button-blop title="kayıt ol"></internhub-button-blop>
                    </a>
                </div>
                <i style="display: flex; align-items: center;">veya</i>
                <div class="btn">
                    <a style="text-decoration: none; "
                       routerLink="/dashboard">
                        <internhub-button-blop title="sadece oku"></internhub-button-blop>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-img">
        <img src="../../../assets/homepage-img.jpg"
             class="img-fluid">
    </div>
</div>