.avatar-wrapper {
    text-align: center;
    h2 {
        margin-top: 25px;
    }
}

.avatar-profile {
    margin-top: 20px;
}

.review-card-margin {
    margin-bottom: 15px;
}

.review-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.review-card-content {
    text-align: center;
}

.expand-card-info {
    text-align: end;
}
