<div class="wrapper">
    <img class="wave"
         src="../../../assets/wave.png">
    <div class="login-area">
        <div class="login-left">
            <img src="../../../assets/homepage-img.jpg"
                 width="400px">
        </div>
        <div class="login-right"
             style="display: flex; align-items: center; justify-content: center;">
            <nz-tabset>
                <nz-tab nzTitle="Giriş Yap">
                    <internhub-sign-in></internhub-sign-in>
                </nz-tab>
                <nz-tab nzTitle="Kayıt Ol">
                    <internhub-sign-up></internhub-sign-up>
                </nz-tab>
                <nz-tab nzTitle="Şifreni Sıfırla">
                    <internhub-reset></internhub-reset>
                </nz-tab>
            </nz-tabset>
        </div>
    </div>
</div>