<div class="wrapper">
    <img class="wave"
         src="../../../assets/wave.png">
    <div class="login-area">
        <div class="login-left">
            <img src="../../../assets/homepage-img.jpg"
                 width="400px">
        </div>
        <div class="login-right">
            <h3>Hoşgeldin</h3>
            <form>
                <div class="form-group">
                    <label>E-mail</label>
                    <input>
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input>
                </div>
                <p>Şifreni mi unuttun ? <a><b>Hesap Oluştur</b></a></p>
                <div style="width: 250px;height: 50px; margin: 15px 0px;">
                    <internhub-button-blop [title]="'Giriş Yap'"></internhub-button-blop>
                </div>
                <p>Hesabın yok mu ? <a><b>Hesap Oluştur</b></a></p>
            </form>
        </div>
    </div>
</div>