.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.login-area {
    background-color: rgb(250, 246, 246);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0 2em;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    padding: 0;
    margin: 0;
}

.login-left {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
    }
}

.login-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 640px) {
    .login-area {
        display: block;
        .login-left {
            display: none;
        }
    }
}
